@tailwind base;
@tailwind components;
@tailwind utilities;

/* Koyu mod için temel ayarlar */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 18, 18, 18;
}

/* Scrollbar ve Arkaplan Ayarları */
html {
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #121212; /* Sayfa yüklenirken beyaz parlamasın */
}

/* Eğer VS Code '@tailwind' kısmına kızıyorsa bunu görmezden gel, 
   çünkü PostCSS derleyicisi bunu anlayacak. */